.navbar {
	padding: .2rem; /*--- 1 rem or em = 16px --*/
}

.navbar-brand {
  margin: 0;
  width: 80px;
}

.nav-link {
	font-size: 1.1em !important;
}

.logo {
  border-radius: 80%;
  width: 50%;
  height: 50%;
}
