<!-- Image background -->

<!-- <div class="container-fluid">
    <img class="img-fluid" src="/assets/img/shooting-start.jpg" alt="Responsive image">
</div> -->

<!-- Second part -->
<!--
<div class="container-fluid">
	<div  class="row cards">

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Tony</h4>
						<p class="card-text"></p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Tavi</h4>
						<p class="card-text">afafsqnfiqnfqnfqnfoqinwfoqinwfqiwf</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Tibi</h4>
						<p class="card-text">afafsqnfiqnfqnfqnfoqinwfoqinwfqiwf</p>
					</div>
				</div>
            </div>

            <div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Tony</h4>
						<p class="card-text">afafsqnfiqnfqnfqnfoqinwfoqinwfqiwf</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Tavi</h4>
						<p class="card-text">afafsqnfiqnfqnfqnfoqinwfoqinwfqiwf</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Tibi</h4>
						<p class="card-text">afafsqnfiqnfqnfqnfoqinwfoqinwfqiwf</p>
					</div>
				</div>
			</div>


	</div>
</div> -->
