
.number {
  color: rgb(61, 8, 92);
  font-size: 75px;
  text-align: center;
}

.neo-title {
  margin-top: 30px;
  text-align: center;
}

.card-title {
  text-align: center;
}


.cards {
  border: 8px;
}
