<!-- Image background -->

<div class="container-fluid">
    <img class="img-fluid" src="/assets/img/shooting-start.jpg" alt="Responsive image">
</div>

<!-- <div>
  <ul *ngIf="neo?.near_earth_objects">
  <li *ngFor="let n of neo.near_earth_objects[startDate]">{{n.is_potentially_hazardous_asteroid}}</li>
  </ul>
</div> -->

<!-- Second part -->

<div *ngIf="neo?.near_earth_objects" class="container-fluid">
	<div *ngFor="let n of neo.near_earth_objects[startDate]" class="row cards">

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">{{ n.name }}}</h4>
						<p class="card-text"></p>
					</div>
				</div>
			</div>
	</div>
</div>
